
@model WFP.ICT.Web.Models.NewAddressVm

<style>

</style>

<!-- BEGIN CONTENT -->

        <!-- BEGIN PAGE BASE CONTENT -->

            @using (Ajax.BeginForm("Save", "Clients", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "AddressConfigs.initAddSuccess(data,status)" }, new
            {
                @id = "frm",
            }))
            {

                        <div class="portlet-body">

                            <div class="row">
                                <div class="col-md-6 ">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->

                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption font-red-sunglo">
                                                <span class="caption-subject bold uppercase"> New Client</span>
                                            </div>
                                            <div class="actions">
                                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body form">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.DropDownListFor(model => model.Client.Type, TempData["ClientTypes"] as SelectList, htmlAttributes: new { @class = "form-control" })
                                                                <label>Client Type<span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.Client.Type, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter Client Type</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.Client.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>First Name <span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.Client.Name, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter First Name</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.Client.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>Phone Number <span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.Client.PhoneNumber, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter Phone Number</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.Client.AccountCode, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>Account Code<span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.Client.AccountCode, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter Account Code</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.Client.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>Email Account<span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.Client.Email, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter Email Account</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.Client.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>Comments</label>
                                                                @Html.ValidationMessageFor(model => model.Client.Notes, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter Comments Here</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                   
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="submit" onclick="" class="btn blue-steel">Save Address</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption font-red-sunglo">
                                                <span class="caption-subject bold uppercase"> New Address</span>
                                            </div>
                                            <div class="actions">
                                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body form">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>First Name <span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter First Name</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>Phone Number <span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter Phone Number</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>Enter Street Address<span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.Address, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter Street Address</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                       
                                                    <div class="col-md-4">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.DropDownListFor(model => model.State, TempData["AddressStates"] as SelectList, htmlAttributes: new { @class = "form-control" })
                                                                <label>State <span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.State, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Select State</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-5">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>City Name <span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.City, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Enter City Name</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input has-success">
                                                            <div class="input-icon">
                                                                @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                                                                <label>Zip Code<span class="required">*</span></label>
                                                                @Html.ValidationMessageFor(model => model.PostCode, null, new { @class = "help-block help-block-error" })
                                                                <span class="help-block">Zip Code</span>
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="map-container-address">
                                                            <div class="label label-danger visible-ie8"> Not supported in Internet Explorer 8 </div>
                                                            <div id="gmap_location" class="gmaps"> </div>
                                                        </div>
                                                    @Html.ValidationMessageFor(model => model.lng, null, new { @class = "help-block help-block-error" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @Html.HiddenFor(x => x.Id, htmlAttributes: new { id = "AddressId" })

                                    @Html.HiddenFor(x => x.lat, htmlAttributes: new { id = "AddressLat" })

                                    @Html.HiddenFor(x => x.lng, htmlAttributes: new { id = "AddressLng" })


                      
                                    <!-- END SAMPLE FORM PORTLET-->
                                </div>
                            </div>
                          
                        </div>
         
            }
     






