@using System.Configuration
@using System.Linq;
@using System.Security.Claims;
@using WFP.ICT.Web.Helpers

@{
    bool isAdmin = true, isUser = false;
}
@if (Session != null && Session["user"] != null)
{
    var userIdentity = HttpContext.Current.User.Identity as ClaimsIdentity;
    var roles = userIdentity.Claims.Where(x => x.Type == ClaimTypes.Role).Select(claim => claim.Value).ToArray();
    var claims = userIdentity.Claims.Where(x => x.Type == ClaimTypes.UserData).Select(claim => claim.Value).ToList();

    isAdmin = roles.Contains(WFP.ICT.Common.SecurityConstants.RoleAdmin);
    bool isPrivateUser = roles.Contains(WFP.ICT.Common.SecurityConstants.RolePrivate);
    isUser = isPrivateUser;
}
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            @if(isAdmin)
            {
                <li class="nav-item start ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Dashboard</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start ">
                            <a href="/Home/Index" class="nav-link ">
                                <i class="icon-screen-desktop"></i>
                                <span class="title">Orders</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="/Home/Index3" class="nav-link ">
                                <i class="fa fa-university"></i>
                                <span class="title">Warehouse</span>
                                @*<span class="badge badge-success">1</span>*@
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="/Home/Index2" class="nav-link ">
                                <i class="fa fa-truck"></i>
                                <span class="title">Delivery</span>
                                @*<span class="badge badge-danger">5</span>*@
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="/Home/Index3" class="nav-link ">
                                <i class="fa fa-dollar"></i>
                                <span class="title">Accounts</span>
                                @*<span class="badge badge-danger">5</span>*@
                            </a>
                        </li>
                    </ul>
                </li>
            }
          
            <li class="nav-item start @Html.IsSelected(actions: "Index,Private,Dealer,Manufacturer", controllers: "Orders,OrdersStatus")">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-screen-desktop"></i>
                        <span class="title">Orders</span>
                        <span class="arrow"></span>
                    </a>
                <ul class="sub-menu">
                    <li class="nav-item start @Html.IsSelected(actions: "Private", controllers: "Orders")">
                        <a href="/Orders/Private" class="nav-link ">
                            <i class="icon-screen-desktop"></i>
                            <span class="title">
                                New Private Order
                            </span>
                        </a>
                    </li>
                    <li class="nav-item start @Html.IsSelected(actions: "Dealer", controllers: "Orders")">
                        <a href="/Orders/Dealer" class="nav-link ">
                            <i class="icon-screen-desktop"></i>
                            <span class="title">
                                New Dealer Order
                            </span>
                        </a>
                    </li>
                    <li class="nav-item start @Html.IsSelected(actions: "Manufacturer", controllers: "Orders")">
                        <a href="/Orders/Manufacturer" class="nav-link ">
                            <i class="icon-screen-desktop"></i>
                            <span class="title">
                                New Manufacturer Order
                            </span>
                        </a>
                    </li>
                    <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "Orders") ">
                        <a href="/Orders/Index" class="nav-link ">
                            <i class="icon-screen-desktop"></i>
                            <span class="title">
                                    Orders
                                </span>
                        </a>
                    </li>
                    <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "OrdersStatus") ">
                        <a href="/OrdersStatus/Index" class="nav-link ">
                            <i class="icon-screen-desktop"></i>
                            <span class="title">
                                    Order Status
                                </span>
                        </a>
                    </li>
                </ul>
                </li>
            
            @if (isAdmin)
            {

                <li class="nav-item start @Html.IsSelected(actions: "New,Index,PickTickets", controllers: "Consignments") ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-truck"></i>
                        <span class="title">Delivery</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start @Html.IsSelected(actions: "New", controllers: "Consignments")">
                            <a href="/Consignments/New" class="nav-link ">
                                <i class="fa fa-truck"></i>
                                <span class="title">
                                    New Assignment
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "Consignments")">
                            <a href="/Consignments/Index" class="nav-link ">
                                <i class="fa fa-truck"></i>
                                <span class="title">Assignments</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "PickTickets", controllers: "Consignments")">
                            <a href="/Consignments/PickTickets" class="nav-link ">
                                <i class="fa fa-bars"></i>
                                <span class="title">Pick Tickets</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item start @Html.IsSelected(actions: "Index,Batch,Warehouse", controllers: "Inventory") ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-drawer"></i>
                        <span class="title">Inventory</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "Inventory")">
                            <a href="/Inventory/Index" class="nav-link ">
                                <i class="fa fa-bars"></i>
                                <span class="title">Inventory</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Batch", controllers: "Inventory")">
                            <a href="/Inventory/Batch" class="nav-link ">
                                <i class="fa fa-university"></i>
                                <span class="title">Batch Load</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Warehouse", controllers: "Inventory")">
                            <a href="/Inventory/Warehouse" class="nav-link ">
                                <i class="fa fa-university"></i>
                                <span class="title">Warehouse</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item start @Html.IsSelected(actions: "Index,Invoice,Payments", controllers: "Accounting")">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-dollar"></i>
                        <span class="title">Accounting</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start @Html.IsSelected(actions: "Invoice", controllers: "Accounting")">
                            <a href="/Accounting/Invoice" class="nav-link ">
                                <i class="fa fa-dollar"></i>
                                <span class="title">Invoices</span>
                                @*<span class="badge badge-success">1</span>*@
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="/Accounting/Payments" class="nav-link ">
                                <i class="fa fa-dollar"></i>
                                <span class="title">Payments</span>
                                @*<span class="badge badge-success">1</span>*@
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "Address,Customer,PianoType,PianoCharges,Warehouse,Vehicle,Driver")">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-university"></i>
                        <span class="title">Company</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "Address") ">
                            <a href="/Address/Index" class="nav-link ">
                                <i class="fa fa-globe"></i>
                                <span class="title">
                                    Addresses
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "Customer")">
                            <a href="/Customer/Index" class="nav-link ">
                                <i class="fa fa-user-secret"></i>
                                <span class="title">
                                    Customers
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "PianoType") ">
                            <a href="/PianoType/Index" class="nav-link ">
                                <i class="fa fa-bars"></i>
                                <span class="title">
                                    Piano Types
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "PianoCharges") ">
                            <a href="/PianoCharges/Index" class="nav-link ">
                                <i class="fa fa-bars"></i>
                                <span class="title">
                                    Piano Charges
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "Warehouse") ">
                            <a href="/Warehouse/Index" class="nav-link ">
                                <i class="fa fa-university"></i>
                                <span class="title">
                                    Warehouses
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "Vehicle") ">
                            <a href="/Vehicle/Index" class="nav-link ">
                                <i class="fa fa-truck"></i>
                                <span class="title">
                                    Vehicles
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Index", controllers: "Driver") ">
                            <a href="/Driver/Index" class="nav-link ">
                                <i class="fa fa-user"></i>
                                <span class="title">
                                    Drivers
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item start @Html.IsSelected(actions: "Settings,Permissions,Roles,Users", controllers: "Company")">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title">Settings</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start @Html.IsSelected(actions: "Settings", controllers: "Company") ">
                            <a href="/Company/Settings" class="nav-link ">
                                <i class="icon-wrench"></i>
                                <span class="title">
                                    Company
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Permissions", controllers: "Company") ">
                            <a href="/Company/Permissions" class="nav-link ">
                                <i class="fa fa-list"></i>
                                <span class="title">
                                    Permissions
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Roles", controllers: "Company") ">
                            <a href="/Company/Roles" class="nav-link ">
                                <i class="fa fa-th-list"></i>
                                <span class="title">
                                    Roles
                                </span>
                            </a>
                        </li>
                        <li class="nav-item start @Html.IsSelected(actions: "Users", controllers: "Company") ">
                            <a href="/Company/Users" class="nav-link ">
                                <i class="fa fa-user"></i>
                                <span class="title">
                                    Users
                                </span>
                            </a>
                        </li>

                    </ul>
                </li>

            }
       
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->