
@model WFP.ICT.Web.Models.NewAddressVm
@{
    Layout = null;
}
<style>

</style>

<!-- BEGIN CONTENT -->


        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12 ">
                <!-- BEGIN SAMPLE FORM PORTLET-->

                @using (Ajax.BeginForm("Save", "Address", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "AddressConfigs.initEditSuccess(data,status)" }, new
                {
                    @id = "frm",
                    @enctype = "multipart/form-data"
                }))
                {
                    <div class="portlet light bordered">

                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group form-md-line-input has-success">
                                                <div class="input-icon">
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                    <label>First Name <span class="required">*</span></label>
                                                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "help-block help-block-error" })
                                                    <span class="help-block">Enter First Name</span>
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-md-line-input has-success">
                                                <div class="input-icon">
                                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                    <label>Phone Number <span class="required">*</span></label>
                                                    @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "help-block help-block-error" })
                                                    <span class="help-block">Enter Phone Number</span>
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                  
                                </div>

                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-md-line-input has-success">
                                                <div class="input-icon">
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                    <label>Enter Street Address<span class="required">*</span></label>
                                                    @Html.ValidationMessageFor(model => model.Address, null, new { @class = "help-block help-block-error" })
                                                    <span class="help-block">Enter Street Address</span>
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="row">
                           
                                        <div class="col-md-4">
                                            <div class="form-group form-md-line-input has-success">
                                                <div class="input-icon">
                                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                                    <label>City Name <span class="required">*</span></label>
                                                    @Html.ValidationMessageFor(model => model.City, null, new { @class = "help-block help-block-error" })
                                                    <span class="help-block">Enter City Name</span>
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-md-line-input has-success">
                                                <div class="input-icon">
                                                    @Html.DropDownListFor(model => model.State, TempData["AddressStates"] as SelectList, htmlAttributes: new { @class = "form-control" })
                                                    <label>State <span class="required">*</span></label>
                                                    @Html.ValidationMessageFor(model => model.State, null, new { @class = "help-block help-block-error" })
                                                    <span class="help-block">Select State</span>
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-md-line-input has-success">
                                                <div class="input-icon">
                                                    @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                                                    <label>Zip Code<span class="required">*</span></label>
                                                    @Html.ValidationMessageFor(model => model.PostCode, null, new { @class = "help-block help-block-error" })
                                                    <span class="help-block">Zip Code</span>
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.HiddenFor(x => x.Id, htmlAttributes: new { id = "AddressId" });

                    @Html.HiddenFor(x => x.lat , htmlAttributes : new { id = "AddressLat" });

                    @Html.HiddenFor(x => x.lng , htmlAttributes : new { id="AddressLng" });

                    <div class="form-actions noborder">
                        <button type="submit" class="btn blue-steel pull-right">Save Address</button>
                    </div>

                }
                <!-- END SAMPLE FORM PORTLET-->
            </div>

        </div>

        <!-- END PAGE BASE CONTENT -->





