@model WFP.ICT.Web.Models.CompanySettingsVM
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .select2-selection.select2-selection--multiple {
        border-radius: 0px;
    }
</style>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        @*<div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>
                        New Consignment
                        <small></small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>*@
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        @*<ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span class="active">New Consignment</span>
                </li>
            </ul>*@
        <!-- END PAGE BREADCRUMB -->
        @if (TempData["Success"] != null)
            {
            <div class="custom-alerts alert alert-success fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <i class="fa-lg fa fa-check"></i>@TempData["Success"]
            </div>
        }
        @if (TempData["Error"] != null)
            {
            <div class="custom-alerts alert alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <i class="fa-lg fa fa-warning"></i>@TempData["Error"]
            </div>
        }
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12 ">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                @using (Html.BeginForm("Settings", "Company", FormMethod.Post, new
                { @*@data_toggle = "validator",*@ @id = "frm"
                }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <!-- box purple-->
                                <div class="portlet-title">
                                    <div class="caption font-red-sunglo">
                                        <span class="caption-subject bold uppercase">Company Settings</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        @Html.HiddenFor(x => x.Id)
                                        <div class="row" style="margin-bottom: 10px">
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input has-success">
                                                    <div class="input-icon">
                                                        @Html.TextBoxFor(m => m.Name, new { @id = "txtName", @placeholder = "Company name", @class = "form-control input-md", @required = "required" })
                                                        <label for="form_control_1">Company name<span class="required">*</span></label>
                                                        <span class="help-block"></span>
                                                        <i class="fa fa-home"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input has-success">
                                                    <div class="input-icon">
                                                        @Html.TextBoxFor(m => m.WebSite, new { @id = "txtWebsite", @placeholder = "Company Website", @class = "form-control input-md", @required = "required" })
                                                        <label for="form_control_1">Website<span class="required">*</span></label>
                                                        <span class="help-block"></span>
                                                        <i class="fa fa-globe"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input has-success">
                                                    <div class="input-icon">
                                                        @Html.TextBoxFor(m => m.Logo, new { @id = "txtLogo", @placeholder = "Company Logo", @class = "form-control input-md", @required = "required" })
                                                        <label for="form_control_1">Company Logo<span class="required">*</span></label>
                                                        <span class="help-block"></span>
                                                        <i class="fa fa-inbox"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input has-success">
                                                    <div class="input-icon">
                                                        @Html.TextAreaFor(m => m.Details, new { @id = "txtDetails", @placeholder = "Company details", @class = "form-control input-md", @required = "required" })
                                                        <label for="form_control_1">Company Details<span class="required">*</span></label>
                                                        <span class="help-block"></span>
                                                        <i class="fa fa-edit"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions noborder" style="margin-top: 20px">
                                        <div class="pull-right">
                                            <button type="submit" class="btn blue-steel " id="btnCreate">Save</button>
                                            <button type="button" class="btn c-btn-border-1x c-btn-blue-steel">Cancel</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- END SAMPLE FORM PORTLET-->
            </div>

        </div>

        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<script type="text/javascript">

    var wfp = wfp || {};

    $('#testActiveDirecotory').click(function () {

        if ($('#txtActiveDiretoryDomain').val() == '' || $('#txtActiveDiretoryUserName').val() == '' || $('#ActiveDiretoryPassword').val() == '')
        {
            wfp.showError('Please enter Active Directory Credentials');
        } else
        {
            var dataToPost = {
                ActiveDiretoryDomain: $('#txtActiveDiretoryDomain').val(),
                ActiveDiretoryUserName: $('#txtActiveDiretoryUserName').val(),
                ActiveDiretoryPassword: $('#ActiveDiretoryPassword').val()
            };

            $.ajax({
                type: "POST",
                url: "/Company/CheckADSettings",
                data: JSON.stringify(dataToPost),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    debugger;
                    if (response === "") wfp.reload();
                    if (response.IsSucess) {
                        wfp.showSuccess('Active directory credentials are correct.');
                    } else {
                        wfp.showError(response.ErrorMessage);
                    }
                },
                failure: function (response) {
                    wfp.showError('There is erorr in service call.');
                },
                complete: function () {
                }
            });
        }
        return false;
    });

    $('#testEmail').click(function () {

        if ($('#txtEmailServer').val() == '' || $('#txtEmailUserName').val() == '' || $('#EmailPassword').val() == '') {
            wfp.showError('Please enter Mail server Credentials');
        } else {
            var dataToPost = {
                EmailServer: $('#txtEmailServer').val(),
                EmailUserName: $('#txtEmailUserName').val(),
                EmailPassword: $('#EmailPassword').val()
            };

            $.ajax({
                type: "POST",
                url: "/Company/CheckMailSettings",
                data: JSON.stringify(dataToPost),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    debugger;
                    if (response === "") wfp.reload();
                    if (response.IsSucess) {
                        wfp.showSuccess('Mail server credentials are correct.');
                    } else {
                        wfp.showError(response.ErrorMessage);
                    }
                },
                failure: function (response) {
                    wfp.showError('There is erorr in service call.');
                },
                complete: function () {
                }
            });
        }
        return false;
    });
    
</script>

