@using WFP.ICT.Web.Models
@model List<WFP.ICT.Web.Models.OrderVm>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            @*<div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>
                        Move Orders
                        <small>your move orders</small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>*@
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->
            @*<ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="/">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Orders</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span class="active">Your Orders</span>
                </li>
            </ul>*@
            <!-- END PAGE BREADCRUMB -->
            @if (TempData["Success"] != null)
            {
                <div class="custom-alerts alert alert-success fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <i class="fa-lg fa fa-check"></i>@TempData["Success"]
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="custom-alerts alert alert-danger fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <i class="fa-lg fa fa-warning"></i>@TempData["Error"]
                </div>
            }
            <!-- BEGIN PAGE BASE CONTENT -->
            @*<div class="m-heading-1 border-green m-bordered">
                    <h3>DataTables Responsive Extension Demo</h3>
                    <p> Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table. </p>
                    <p>
                        For more info please check out
                        <a class="btn red btn-outline" href="https://www.datatables.net/extensions/responsive/" target="_blank">the official documentation</a>
                    </p>
                </div>*@
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-globe"></i>Move Orders
                            </div>
                            <div class="tools"> </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_4">
                                <thead>
                                    <tr>
                                        <th class="all">Order #</th>
                                        <th class="all">Type</th>
                                        <th class="all">Order Date</th>
                                        <th class="all">Preferred Time</th>
                                        <th class="all">Pianos</th>
                                        <th class="all">Actions</th>
                                        <th class="none">Pickup Address</th>
                                        <th class="none">Delivery Address</th>
                                        <th class="none">Pickup Date</th>
                                        <th class="none">Delivery Date</th>
                                        <th class="none">Notes</th>
                                        <th class="none">Services</th>
                                        <th class="none">Customer</th>                                    
    @*
        min-phone-l min-tablet <th class="desktop"></th>
    <th class="none"></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model)
                                    {
                                        var btnDelete = "btnDelete" + order.Id;
                                        <tr id="@order.Id">
                                            <td>@order.OrderNumber</td>
                                            <td>@order.OrderType</td>
                                            <td>@order.OrderDate</td>
                                            <td>@order.PreferredPickupDateTime</td>
                                            <td>
                                                <table class="m-grid">
                                                    <thead>
                                                    <tr>
                                                        <th class="all m-grid-col-md-2">Type</th>
                                                        <th class="all m-grid-col-md-3">Name</th>
                                                        <th class="all m-grid-col-md-1">Stairs</th>
                                                        <th class="all m-grid-col-md-1">Bench</th>
                                                        <th class="all m-grid-col-md-1">Box</th>
                                                        <th class="all m-grid-col-md-1">Make</th>
                                                        <th class="all m-grid-col-md-1"></th>

                                                        @*<th class="none m-grid-col-md-1">Model</th>
                                                        <th class="none m-grid-col-md-1">Color</th>*@
                                                    </tr>
                                                    </thead>
                                                    @foreach (var pianoVm in @order.Pianos)
                                                    {
                                                        <tr>
                                                            <td class="m-grid-col-md-2">@pianoVm.PianoType</td>
                                                            <td class="m-grid-col-md-3">@pianoVm.PianoName</td>
                                                            <td class="m-grid-col-md-1">@(pianoVm.IsStairs ? "Yes" : "No")</td>
                                                            <td class="m-grid-col-md-1">@(pianoVm.IsBench ? "W/B" : "N/B")</td>
                                                            <td class="m-grid-col-md-1">@(pianoVm.IsBoxed ? "Yes" : "No")</td>
                                                            <td class="m-grid-col-md-1">@pianoVm.PianoMake</td>
                                                            <td class="all m-grid-col-md-1"></td>
                                                            @*<td class="m-grid-col-md-1">@pianoVm.PianoModel</td>
                                                            <td class="m-grid-col-md-1">@pianoVm.PianoColor</td>*@
                                                        </tr>
                                                    }
                                                </table>
                                            </td>
                                            <td>
                                                <a href="/Orders/Edit/@order.Id" data-tooltip="tooltip" title="Edit Order">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="btnDelete" id="@btnDelete" href="#" data-number="@order.OrderNumber" data-tooltip="tooltip" title="Delete Order">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                            <td>@Html.Raw(order.PickupAddressString)</td>
                                            <td>@Html.Raw(order.DeliveryAddressString)</td>
                                            <td>@order.PickupDate</td>
                                            <td>@order.DeliveryDate</td>
                                      
                                            <td>
                                                <table class="m-grid">
                                                    @foreach (var service in @order.Charges)
                                                    {
                                                        <tr>
                                                            <td class="m-grid-col-md-2">@service.ChargesCode</td>
                                                            <td class="m-grid-col-md-4">@service.ChargesType</td>
                                                            <td class="m-grid-col-md-2">@service.Amount</td>
                                                            <td class="m-grid-col-md-4"></td>
                                                        </tr>
                                                    }
                                                </table>
                                            </td>
                                            <td>@order.Customer</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

<script type="text/javascript">

    var wfp = wfp || {};

   $('.btnDelete').click(function () {

       var btnDelete = $(this);
       var id = btnDelete.attr('id').replace('btnDelete', '');
       var divRow = $('#' + id);
       var dataToPost = "{id : '" + id + "'}";
       var number = btnDelete.data('number');

       wfp.showSwal("Are you sure to delete Order #: " + number + "?",
           function() {

               debugger;
               $.ajax({
                   type: "POST",
                   url: '/Orders/Delete',
                   data: dataToPost,
                   contentType: "application/json; charset=utf-8",
                   success: function(response) {
                       debugger;
                       if (response === "") wfp.reload();
                       if (response.IsSucess) {
                           wfp.showSuccess('Order #: '+ number +' has been deleted successfully.');
                           divRow.fadeOut(1000).animate({ "opacity": "0" }, function() { divRow.remove(); });

                       } else {
                           wfp.showError(response.ErrorMessage);
                       }
                   },
                   failure: function(response) {
                       wfp.showError('There is erorr in service call.');
                   },
                   complete: function() {
                   }
               });
           });
   });


</script>

