@model WFP.ICT.Web.Models.OrderVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Move Order
                    <small></small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Place your move order</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
    @if (TempData["Success"] != null)
            {
        <div class="custom-alerts alert alert-success fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <i class="fa-lg fa fa-check"></i>@TempData["Success"]
        </div>
    }
    @if (TempData["Error"] != null)
            {
        <div class="custom-alerts alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <i class="fa-lg fa fa-warning"></i>@TempData["Error"]
        </div>
    }
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
                <div class="portlet light bordered"> <!-- box purple-->
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <span class="caption-subject bold uppercase"> Move Oder Details</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                                <i class="icon-cloud-upload"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                                <i class="icon-wrench"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                                <i class="icon-trash"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input has-success">
                                            <div class="input-icon">
                                                @Html.DropDownList("PianoType", null, htmlAttributes: new { @class = "form-control" })
                                                <label for="form_control_1">Piano Type<span class="required">*</span></label>
                                                <span class="help-block">Enter Piano Name here</span>
                                                <i class="fa fa-envelope-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input has-success">
                                            <div class="input-icon">
                                                @*<input type="text" class="form-control" placeholder="Left icon">*@
                                                @Html.EditorFor(model => model.PianoName, new { htmlAttributes = new { @class = "form-control" } })
                                                <label for="form_control_1">Piano Name<span class="required">*</span></label>
                                                <span class="help-block">Enter Piano Name here</span>
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input has-success">
                                            <div class="input-icon">
                                                @*<input type="text" class="form-control" placeholder="Left icon">*@
                                                @Html.EditorFor(model => model.PianoMake, new { htmlAttributes = new { @class = "form-control" } })
                                                <label for="form_control_1">Piano Make<span class="required">*</span></label>
                                                <span class="help-block">Enter Piano Make here</span>
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input has-success">
                                            <div class="input-icon">
                                                @*<input type="text" class="form-control" placeholder="Left icon">*@
                                                @Html.EditorFor(model => model.PianoModel, new { htmlAttributes = new { @class = "form-control" } })
                                                <label for="form_control_1">Piano Model</label>
                                                <span class="help-block">Enter Piano Model here</span>
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input has-success">
                                            <div class="input-icon">
                                                @*<input type="text" class="form-control" placeholder="Left icon">*@
                                                @Html.EditorFor(model => model.PianoColor, new { htmlAttributes = new { @class = "form-control" } })
                                                <label for="form_control_1">Piano Color</label>
                                                <span class="help-block">Enter Piano Color here</span>
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input has-success">
                                            <div class="input-icon">
                                                @*<input type="text" class="form-control" placeholder="Left icon">*@
                                                @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                <label for="form_control_1">Piano Serial Number</label>
                                                <span class="help-block">Enter Piano Serial Number here</span>
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-md-line-input has-success">
                                            <div class="input-icon">
                                                @*<input type="text" class="form-control" placeholder="Left icon">*@
                                                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                                <label for="form_control_1">Order Notes</label>
                                                <span class="help-block">Enter Notes here</span>
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        
                                        <div class="form-group form-md-checkboxes">
                                            <label class="col-md-3 control-label" for="form_control_1">Have Bench</label>
                                            <div class="col-md-9">
                                                <div class="md-checkbox-inline">
                                                    <div class="md-checkbox">
                                                        <input type="checkbox" id="checkbox1_1" name="checkboxes1[]" value="1" class="md-check">
                                                        <label for="checkbox1_1">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Yes W/B </label>
                                                    </div>
                                                    <div class="md-checkbox">
                                                        <input type="checkbox" id="checkbox1_2" name="checkboxes1[]" value="2" class="md-check">
                                                        <label for="checkbox1_2">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> No N/B </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group form-md-checkboxes">
                                            <label class="col-md-3 control-label" for="form_control_1">Is Boxed</label>
                                            <div class="col-md-9">
                                                <div class="md-checkbox-inline">
                                                    <div class="md-checkbox">
                                                        <input type="checkbox" id="checkbox2_1" name="checkboxes2[]" value="1" class="md-check">
                                                        <label for="checkbox2_1">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Yes
                                                        </label>
                                                    </div>
                                                    <div class="md-checkbox">
                                                        <input type="checkbox" id="checkbox2_2" name="checkboxes2[]" value="2" class="md-check">
                                                        <label for="checkbox2_2">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                
                                <div class="row" style="margin-top: 5px">
                                    <div class="col-md-6">

                                        <div class="portlet light bordered">
                                            <div class="portlet-title">
                                                <div class="caption font-blue-steel">
                                                    <i class="icon-settings font-blue-steel"></i>
                                                    <span class="caption-subject bold uppercase"> Pickup Adddress</span>
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                                                        <i class="icon-cloud-upload"></i>
                                                    </a>
                                                    <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                                                        <i class="icon-wrench"></i>
                                                    </a>
                                                    <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body form">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.PickupAddress.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">Name</label>
                                                                    <span class="help-block">Enter Name here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.PickupAddress.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">Address</label>
                                                                    <span class="help-block">Enter Address here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.PickupAddress.Suburb, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">Suburb</label>
                                                                    <span class="help-block">Enter Suburb here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.PickupAddress.State, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">State</label>
                                                                    <span class="help-block">Enter State here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.PickupAddress.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">PostCode</label>
                                                                    <span class="help-block">Enter PostCode here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.PickupAddress.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">Phone Number</label>
                                                                    <span class="help-block">Enter Phone Number here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        
                                        <div class="portlet light bordered">
                                            <div class="portlet-title">
                                                <div class="caption font-blue-steel">
                                                    <i class="icon-settings font-blue-steel"></i>
                                                    <span class="caption-subject bold uppercase"> Delivery Adddress</span>
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                                                        <i class="icon-cloud-upload"></i>
                                                    </a>
                                                    <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                                                        <i class="icon-wrench"></i>
                                                    </a>
                                                    <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            
                                            <div class="portlet-body form">
                                                
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.DeliveryAddress.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">Name</label>
                                                                    <span class="help-block">Enter Name here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.DeliveryAddress.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">Address</label>
                                                                    <span class="help-block">Enter Address here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.DeliveryAddress.Suburb, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">Suburb</label>
                                                                    <span class="help-block">Enter Suburb here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.DeliveryAddress.State, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">State</label>
                                                                    <span class="help-block">Enter State here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.DeliveryAddress.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">PostCode</label>
                                                                    <span class="help-block">Enter PostCode here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <div class="input-icon">
                                                                    @Html.EditorFor(model => model.DeliveryAddress.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                                    <label for="form_control_1">Phone Number</label>
                                                                    <span class="help-block">Enter Phone Number here</span>
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                                    </div>

                                        </div>
                                        <div class="form-actions noborder">
                                            <button type="submit" class="btn blue-steel ">Order</button>
                                            <button type="button" class="btn c-btn-border-1x c-btn-blue-steel">Cancel</button>
                                        </div>
                    </div>
                </div>
}
                <!-- END SAMPLE FORM PORTLET-->
            </div>
            
        </div>
       
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->